/* universal selector - selects all elements
*{
    background-color: whitesmoke;
} */

body{
    background-color: #e0fbfc;
}

/* element selector */
button{
    font-size: 30px;
    background-color: #3d5a80;
    color: #e0fbfc;
}

/* list selectors - select multiple elements */
h1, h2{
    color: #ee6c4d;
}

/* id selector */
#signup{
    background-color: #ee6c4d;
    color: #3d5a80;
}

span{
    color: #98c1d9;
}

/* class selector */
.tag{
    background-color: #3d5a80;
    font-size: 12px;
    color: #98c1d9;
}

/* descendant selector - selects all elements that are nested inside parent element */
span a{
    color:#ee6c4d;
}

/* Adjacent selector - select only elements that are immediately preceded by another elements (not children or nested) */
input + button{
    background-color: white;
}

h2 + button{
    font-size: 15px;
}

/* Direct child - select only elements that are direct children of another element */
footer > a{
    font-size: bold;
    color: orange;
}

/* Attribute selector - select all elements where attribute is set to "certain text" */
input[type="password"]{
    color: #3d5a80;
}

a[href*="google"]{
    color: orange;
}

/* or section.post */
section[class="post"] {
    border: orange;
}

/* PSEUDO CLASSES */

 /* hover - when mouse over*/
button:hover{
    background-color: orange;
    color: white;
 }

 a:hover{
    text-decoration: underline;
 }

 /*active - when activated on click*/
button:active{
    background-color: teal;
 }

 /*nth-of-type - chose elements by positon among a group of siblings*/
section:nth-of-type(2n){
    background-color: lightyellow;
}

/* PSEUDO ELEMENTS - keyword added to selector that lets you style a particular part of selected elements such as ::first-letter  */

/*::first-letter*/
h2::first-letter{
    font-size: 50px;
}





